.messaging-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.sidebar {
    flex: 3;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.2);
}

.room {
    padding: 2rem 4rem;
}

.room-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.messager {
    flex: 9;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 10;
    padding: 5rem;
    overflow: auto;
}

.message-received-container {
    display: flex;
    align-items: center;
    margin: 0 2.5rem 2.5rem 0;
}

.message-received {
    padding: 1.5rem;
    border-radius: 1rem 1rem 1rem 0;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.message-sent-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 0 2.5rem 2.5rem;
}

.message-sent {
    padding: 1.5rem;
    border-radius: 1rem 1rem 0 1rem;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.message-pic-received {
    height: 3.25rem;
    width: 3.25rem;
    margin-right: 1.5rem;
    border-radius: 50%;
}

.message-pic-sent {
    height: 3.25rem;
    width: 3.25rem;
    margin-left: 1.5rem;
    border-radius: 50%;
}

.message-sender {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    box-shadow: 10px 3px 20px 0px rgba(0, 0, 0, 0.2);
}

.messager-input {
    flex-grow: 1;
    padding: 1rem;
    margin: 0 2.5rem 0 0;
    border: 1px solid #f5f5f5;
    border-radius: 1rem;
    color: #333333;
    font-size: 1.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.messager-input:focus {
    border-color: #57bc90;
    box-shadow: 0 0 0 0.2rem rgb(87, 188, 144, 0.5);
    outline: 0;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

 @-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
  }
  