.bg-1 {
    background-color: #fafafa;
}

.bg-2 {
    background-color: #f5f5f5;
}

.bg-3 {
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
    background-color: #eeeeee;
    color: #57bc90;
}

.bg-a {
    background-color: #57bc90;
    color: #eeeeee;
}

.color-a {
    color: #57bc90;
}
